[submodule "vf-ui"]
	path = vf-ui
	url = git@lab.allmende.io:valueflows/app-frameworks/vf-ui.git
[submodule "vf-graphql"]
	path = vf-graphql
	url = git@lab.allmende.io:valueflows/vf-schemas/vf-graphql.git
[submodule "holo-rea"]
	path = holo-rea
	url = git@github.com:holo-rea/holo-rea.git
[submodule "ecosystem-wiki"]
	path = ecosystem-wiki
	url = git@github.com:holo-rea/ecosystem.wiki.git
[submodule "app-offers-needs-marketplace"]
	path = app-offers-needs-marketplace
	url = git@github.com:holo-rea/app-offers-needs-marketplace.git
[submodule "app-personal-agent"]
	path = app-personal-agent
	url = git@github.com:holo-rea/app-personal-agent.git
